@{
    ViewData["Title"] = "Register";
}
<form action="#" method="post">
    <div class="text-center">
        USERNAME:<input type="text" id="username" name="Username" />
        <br />
        PASSWORD:<input type="password" id="password" name="Password" />
        <br />
        <button id="Rgister">REGISTER</button>
    </div>
</form>
